body {
  display: flex;
}

@media screen and (max-width: 799px) {
  body {
    display: unset;
    padding: 0;
    margin: 0;
  }
}

.effect-rotate-90 {
  transform: rotate(90deg);
}

.effect-rotate-180 {
  transform: rotate(180deg);
}

.effect-rotate-270 {
  transform: rotate(270deg);
}

.effect-mirror-horizontal {
  transform: scale(-1, 1);
}

.effect-mirror-vertical {
  transform: scale(1, -1);
}

.effect-mirror-horizontal.effect-mirror-vertical {
  transform: scale(-1, -1);
}
